# Imputation testing code

### Before running code you must have :
 
 * train.csv in same directory.
 * python 3 installed
 * libraries used in code installed.
 
**Importing the libraries that will be used**

In [59]:
import pandas as pd
import numpy as np
# for fitting a decision tree
from sklearn.tree import DecisionTreeRegressor

**Reading the train.csv in the code to use**

In [60]:
df = pd.read_csv("train.csv") 
df.head(6)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1
5,7,A,I,C,A,E,BI,C,AV,Y,...,0.524760,0.580085,0.301498,0.261055,0.193988,0.935688,0.685868,0.277694,0.428115,0

### Comments (Tactic to follow Q):
Should we use only one column for testing or the whole table?
- Here we use only one column cont2 just for testing illustrations for now.
- We keep only column cont2 and rename column name to test.

In [61]:
# Keeping columns interested.
imputation_data = df[['cont0','cont1', 'cont2', 'target']].copy()
imputation_data.head(3)

      cont0     cont1     cont2  target
0  0.629858  0.855349  0.759439       0
1  0.370727  0.328929  0.386385       0
2  0.502272  0.322749  0.343255       0

In [62]:
# Divide predictors from respond.
imputation_predictors = imputation_data[['cont0', 'cont1', 'cont2']].copy()
imputation_respond = imputation_data[['target']].copy()

In [63]:
### Fit a model to predict target using cont 2 with all the true values.

# Initializing random-state for repsoducible reason.
tree_reg = DecisionTreeRegressor(random_state=96)
# Fitting a Decision Tree
tree_reg.fit(imputation_predictors, imputation_respond)

DecisionTreeRegressor(random_state=96)

In [64]:
# Making predictions with same data used to train model.
predicted = tree_reg.predict(imputation_predictors)
print("True values: ", imputation_respond.values[0:10])
print("Predicted values: ", predicted[0:10])

True values:  [[0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]]
Predicted values:  [0. 0. 0. 0. 1. 0. 0. 1. 0. 1.]

In [65]:
# Can create a confusion matrix with accuracy to see how good model is.
from sklearn import metrics
print(metrics.confusion_matrix(imputation_respond, predicted))

[[220539      0]
 [     0  79461]]